<div class="paragraph-instances">
	<div class="view-filters">
    <form class="views-exposed-form" action="" method="get" accept-charset="UTF-8">
  		<div class="form--inline clearfix">
  			<div class="js-form-item form-item js-form-type-select form-type-select js-form-item-status form-item-status">
      		<label for="edit-type">Paragraph Type</label>
        	<select id="edit-type" name="type" class="form-select">
						<option value="" {{ not type ? 'selected' : '' }}>- Select -</option>
        		{% for paragraph in paragraphs %}
							<option value="{{ paragraph.id }}" {{ paragraph.id == type ? 'selected' : '' }}>{{ paragraph.label }}</option>
						{% endfor %}
					</select>
        </div>
  			<div class="js-form-item form-item js-form-language-select form-language-select js-form-item-status form-item-status">
      		<label for="edit-language">Language</label>
        	<select id="edit-language" name="language" class="form-select">
						<option value="" {{ not type ? 'selected' : '' }}>All</option>
        		{% for lang in languages %}
							<option value="{{ lang.id }}" {{ lang.id == language ? 'selected' : '' }}>{{ lang.name }}</option>
						{% endfor %}
					</select>
        </div>
				<div class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
					<input type="submit" id="edit-submit-content" value="Find" class="button js-form-submit form-submit">
				</div>
			</div>
		</form>
  </div>

  {% if instances | length > 0 %}
    <table class="views-table views-view-table cols-7 responsive-enabled sticky-enabled">
			<thead>
				<tr>
					<th id="view-title-table-column" class="views-field views-field-ket" scope="col">
						Title
					</th>
					<th id="view-nid-table-column" class="views-field views-field-ket" scope="col">
						Node ID
					</th>
					<th id="view-count-table-column" class="views-field views-field-ket" scope="col">
						Usages
					</th>
				</tr>
			</thead>
			<tbody>
        {% for instance in instances %}
				<tr>
					<td headers="view-title-table-column" class="views-field views-field-key">
          	<a href="{{ instance.url }}">{{ instance.node.title() }}</a>
					</td>
					<td headers="view-nid-table-column" class="views-field views-field-key">
          	{{ instance.node.id() }}
					</td>
					<td headers="view-count-table-column" class="views-field views-field-key">
          	{{ instance.count }}
					</td>
				</tr>
        {% endfor %}
			</tbody>
		</table>
	{% else %}
		<table class="views-table views-view-table cols-7 responsive-enabled sticky-enabled">
			<thead>
				<tr>
					<th id="view-title-table-column" class="views-field views-field-ket" scope="col">
						Title
					</th>
					<th id="view-nid-table-column" class="views-field views-field-ket" scope="col">
						Node ID
					</th>
					<th id="view-count-table-column" class="views-field views-field-ket" scope="col">
						Usages
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="odd">
					<td colspan="5" class="views-empty">No instances found.</td>
				</tr>
			</tbody>
		</table>
  {% endif %}

</div>
